//Breakpoints
@mixin tablet {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media screen and (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop-lg {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin desktop-xl {
  @media screen and (min-width: 1800px) {
    @content;
  }
}

@mixin desktop-2xl {
  @media screen and (min-width: 2560px) {
    @content;
  }
}
