// Colors
$primary: #ff8227;
$secondary: #bae3f6;
$main-bg: #706f6f;
$section-dark-bg: #4d4d4d;
$section-light-bg: #f9f6f6;
$black: #000;
$white: #fff;

// Fonts
$poppins: 'Poppins', sans-serif;

// Spacing
$section-px-desktop: 6.4rem;
$section-px-tablet: 3.2rem;
$section-px-mobile: 1.6rem;

$section-py-desktop: 6.4rem;
$section-py-tablet: 3.2rem;
$section-py-mobile: 1.6rem;
