@import 'variables';
@import 'responsive';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  background-color: $section-light-bg;
}

body {
  font-family: $poppins !important;
}
